<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<link rel="stylesheet" href="//cdn.muut.com/1/moot.css">
<script src="//cdn.muut.com/1/moot.min.js"></script>
<a id="my-community" href="https://muut.com/i/presentation/general">Community</a>

<script>
  $('#my-community').muut({
    
    api: {
      // API key for "presentation"- community
      key: '<%= Forum::MUUT_KEY %>',

      // generate following on the server side (see below)
      message: '<%= @forum.message %>',
      signature: '<%= @forum.signature %>',
      timestamp: <%= @forum.timestamp %>
    }
  })
</script>